@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 700px;
   gap: 5px;
   font-size: 18px;
}

@media (max-width: 500px) {
    .links-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 400px;
   gap: 2px;
   font-size: 16px;
}
}

.items {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   border: 1px solid skyblue;
   width: 80px;
   height: 30px;
   text-align: center;
   
    &:hover {
        color: black;
        background-color: rgb(0, 255, 21);
        cursor: pointer;
        font-weight: 600;
        transition: all 0.2s;
    }

    .pages-links {
        text-decoration: none;
    }
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 400px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins' sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
}

@media (max-width: 600px) {
    .page-container {
        position: relative;
    }
}

.images {
    width: 480px;
}

@media (max-width: 600px) {
    .images {
        width: 340px;
    }
}

.conversation-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 480px;
    height: 310px;
    font-size: 18px;
    padding: 5px;
    position: fixed;
    top: 390px;
    z-index: 1;
    background-color: aliceblue;
}

@media (max-width: 600px) {
    .conversation-container {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 290px;
    font-size: 15px;
    top: -100px;
    position: relative;
}
}

.lines {
    display: grid;
    grid-template-columns: 15% 85%;
}

.exercise-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 350px;
    background-color: rgb(224, 240, 255);
    font-size: 20px;
    position: relative;
    top: 700px;
}

@media (max-width: 600px) {
    .exercise-container {
    display: flex;
    flex-direction: column;
    width: 340px;
    top: -100px;
    background-color: rgb(224, 240, 255);
    font-size: 18px;
    height: 350px;
    z-index: 1;
}

}

.exercise-lines {
    display: flex;
    margin-bottom: 5px;
}

.inputs {
    width: 35px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
    color: rgb(156, 0, 196);
    border-style: none;
    border-bottom: 1px solid rgb(136, 221, 255);
    background-color: aliceblue;
    border-radius: 5px;
}


.pages-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'bangers';
    font-size: 30px;
    color: rgb(118, 187, 255);
    text-shadow: 1px 1px 1px black;
}

.back {
    text-decoration: none;
    background-color: rgb(96, 0, 151);
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 70px;
    left: 430px;

    &:active {
        box-shadow: none;
    }

    &:hover {
        background-color: rgb(136, 0, 226);
        cursor: pointer;
        font-weight: 600;
        box-shadow: none;
    }
}

@media (max-width: 600px) {
    .back {
        left: 360px;
    }
}

.instructions {
    color: rgb(0, 65, 117);
    padding: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.words {
    color: rgb(156, 0, 196);
    font-weight: 600;
    font-style: italic;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.audio-btn {
    width: 60px;
    padding: 2px;
    border-style: none;
    background-color: rgb(170, 215, 255);
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    margin-bottom: 10px;
    
    &:active {
        box-shadow: none;
    }
}

.names {
    color: rgb(0, 21, 139);
}

.numbers {
    color: rgb(255, 94, 0);
    margin-right: 10px;
    margin-left: 10px;
}




