@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 700px;
   gap: 5px;
   font-size: 18px;
}

.items {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   border: 1px solid skyblue;
   width: 80px;
   height: 30px;
   text-align: center;
   
    &:hover {
        color: black;
        background-color: rgb(0, 255, 21);
        cursor: pointer;
        font-weight: 600;
        transition: all 0.2s;
    }

    .pages-links {
        text-decoration: none;
    }
}

@media (max-width: 500px) {
    .links-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 400px;
   gap: 2px;
   font-size: 16px;
}
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 950px;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins' sans-serif;
}

.pages-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'bangers';
    font-size: 30px;
    color: rgb(118, 187, 255);
    text-shadow: 1px 1px 1px black;
}

.back {
    text-decoration: none;
    background-color: rgb(96, 0, 151);
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    position: relative;
    left: -170px;
    top: 200px;

    &:active {
        box-shadow: none;
    }

    &:hover {
        background-color: rgb(136, 0, 226);
        cursor: pointer;
        font-weight: 600;
        box-shadow: none;
    }
}

.instructions {
    margin-bottom: 15px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.audio-btn {
    width: 60px;
    padding: 2px;
    border-style: none;
    background-color: rgb(170, 215, 255);
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    margin-bottom: 10px;
    
    &:active {
        box-shadow: none;
    }
}

.images {
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

.conversation-container {
    display: flex;
    flex-direction: column;
}

.lines {
    display: grid;
    grid-template-columns: 15% 85%;
}

.names {
    color: rgb(0, 21, 139);

}



